<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>听音撰谱功能实现主页</title>
    <link rel="stylesheet" href="/static/CSS/base-style.css">
    <link rel="stylesheet" href="/static/CSS/homepage.css">
</head>

<body>
    <header id="header">

    </header>
    <nav class="clearfix">

        <ul class="id-nav">
            <li><a href="#demo1" title="跳转到功能一介绍">功能一</a></li>
            <li><a href="#demo2" title="跳转到功能二介绍">功能二</a></li>
            <li><a href="#demo3" title="跳转到功能三介绍">功能三</a></li>
            <li><a href="#demo4" title="跳转到功能四介绍">功能四</a></li>
            <li><a href="#demo5" title="跳转到功能五介绍">功能五</a></li>
        </ul>
        <div class="img-nav">
            <span class="prev">&lt;</span>
            <span class="next">&gt;</span>
            <span class="ball-nav">
                <span class="current"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

    </nav>
    <span class="demo-id" id="demo1">.</span>
    <div class="demo">

    </div>
    <span class="demo-id" id="demo2">.</span>
    <div class="demo">

    </div>
    <span class="demo-id" id="demo3">.</span>
    <div class="demo">

    </div>
    <span class="demo-id" id="demo4">.</span>
    <div class="demo">

    </div>
    <span class="demo-id" id="demo5">.</span>
    <div class="demo">

    </div>
    <a href="#header" title="回到顶部"><span class="return-top"></span></a>
    <footer>
        2020-5-23 by <a href="">Asakura</a>
    </footer>

</body>

</html>
